.objectinspector tr {
	vertical-align: top;
	margin:         1px;
}
.objectinspector pre {
	display:        inline-block;
	margin:         0px;
}

button {
	margin: 2px;
}
button,
input:not([type=text]),
label {
	cursor: pointer;
}

#div_team ,
#div_search {
	margin:     20px;
	margin-top:  0px;
}
#input_search {
	display:     block;
}

#div_teamselect > button,
#button_team {
	min-width:  220px;
	height:     41px;
	display:    block;
	font-size:  7pt;
	color:      grey;
}

#div_threatlistconfig,
#div_teamselect,
#div_popup {
	background-color: white;
	border:           4px solid Black;
	position:         absolute;
	display:          none;
	padding:          15px;
	margin:           5px;
}
#textarea_builddata {
	min-height:  100px;
	min-width:   97vw;
	max-width:   97vw;
}
#button_showobjectinspector ,
#button_threatlistconfig,
#button_showbuilddata ,
#button_hidebuilddata {
	float: right;
}

.imageWrapper {
	vertical-align: middle;
	display:        inline-block;
	position:       relative;
	cursor:         pointer;
}
.imageWrapper.notcovered {
	background: Red;
}
#div_threatlist > .imageWrapper {
	width:            48px;
	height:           48px;
	margin:           3px;
}
#div_threatlist > .imageWrapper > img {
	transform: translate(-50%, -50%);
	position:  absolute;
	filter:    blur(0);
	left:      50%;
	top:       50%;
}
#div_threatlist > .imageWrapper.rating-0                 { background-color: Coral;      border: 2px solid Navy; }
#div_threatlist > .imageWrapper.rating-50               { background-color: Orange;     border: 2px solid Navy; }
#div_threatlist > .imageWrapper.rating-5000           { background-color: PowderBlue; border: 2px solid Navy; }
#div_threatlist > .imageWrapper.rating-250000       { background-color: PaleGreen;  border: 2px solid Navy; }
#div_threatlist > .imageWrapper.rating-verysmall { background-color: LightGrey;  border: 2px solid Navy; }
#div_threatlist > .imageWrapper.searchresult         { background-color: LawnGreen;  border: 2px solid Red;  }

.iconWrapper {
	position:    absolute;
	bottom:      0px;
	right:       0px;
}
.textWrapper, .ratingWrapper {
	position:         absolute;
	transform:        translate(-50%);
	left:             50%;
	width:            40px;
	text-shadow:      1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	text-shadow:      1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	text-align:       center;
	line-height:      90%;
	color:            #fff;
}
.textWrapper {
	font-size: 10pt;
	bottom:    2px;
}
.ratingWrapper {
	font-size: 7pt;
	top:       2px;
}

span.GSI > .imageWrapper  > .ratingWrapper,
span.SSI > .imageWrapper  > .ratingWrapper,
span.NSI > .imageWrapper  > .ratingWrapper {
	color:       lime;
	font-weight: bold;
}
span.GSIto > .imageWrapper  > .ratingWrapper,
span.SSIto > .imageWrapper  > .ratingWrapper,
span.NSIto > .imageWrapper  > .ratingWrapper {
	color:       coral;
	font-weight: bold;
}

span.GSI > .imageWrapper.onteam,
span.SSI > .imageWrapper.onteam,
span.NSI > .imageWrapper.onteam {
	border: 1px solid lime;
}
span.GSIto > .imageWrapper.onteam,
span.SSIto > .imageWrapper.onteam,
span.NSIto > .imageWrapper.onteam {
	border: 1px solid coral;
}