html {
	height:     calc(100% - 16px);
}
body {
	height:      100%;
	width:       calc(100vw - 68px);
	margin-left: 34px;
	background:  #4a98d3;
}

input[type=radio],
select,
button {
	cursor: pointer;
}

h2 {
	margin-top:       7px;
	margin-bottom:    14px;
}

/* header elements */

.header h2 {
	display:          inline-block;
}
.header .menu {
	float:            right;
	margin-bottom:    12px;
}
.menu label {
	font-weight:      bold;
}
.menu button {
	margin:           5px;
}
.team-container {
	display:          inline-block;
	vertical-align:   bottom;
	margin-left:      10px;
}
#button_loadteam,
#button_clearteam {
	float:            right;
	font-size:        8px;
}
#div_team {
	display:          flex;
	justify-content:  center;
	align-items:      center;
	border:           1px solid #787878;
	background-color: lightgray;
	color:            gray;
	font-size:        8pt;
	border-radius:    5px;
}
.menugroup {
	display:          inline-flex;
	position:         relative;
	vertical-align:   bottom;
	margin-left:      10px;
}
.format-container {
	min-height:       41px;
	padding:          2px;
}
.search-container {
	position:         relative;
	z-index:          1;
	width:            216px;
	height:           100%;
	margin-left:      10px;
}
.search-wrapper {
	position:         absolute;
	width:            100%;
	padding:          2px;
}
#input_search {
	display:          block;
	width:            calc(100% - 8px);
	padding:          2px;
}
#div_searchresults {
	width:            100%;
}
#div_searchresults table {
	table-layout:     fixed;
	box-sizing:       border-box;
	width:            100%;
}
#div_searchresults tr {
	display:          none;
}
#div_searchresults tr.searchresult {
	background:       white;
	display:          block;
	cursor:           pointer;
	border-style:     solid;
	border-color:     navy;
	border-width:     1px 2px 1px 2px;
	border-radius:    3px;
	margin:           1px;
}
#div_searchresults tr.searchresult:hover {
	background-color: #a7cce5 !important;
}
#div_searchresults tr.searchresult.selected {
	background-color: lightblue;
}

/* elements in the .main container */

#tab_main_viability a {
	padding-left:        32px;
	background-image:    url("./../img/repeatball.png");
	background-repeat:   no-repeat;
	background-position: 5px;
}
#tab_main_breakit a {
	padding-left:        45px;
	background-image:    url("./../img/681-b.png");
	background-repeat:   no-repeat;
	background-position: 5px;
}
#tab_main_wallit a {
	padding-left:        37px;
	background-image:    url("./../img/681.png");
	background-repeat:   no-repeat;
	background-position: 5px;
}
#tab_main_faq a {
	padding-left:        30px;
	background-image:    url("./../img/201.png");
	background-repeat:   no-repeat;
	background-position: 2px;
}
#tab_main_viability-sets,
#tab_main_breakit-sets,
#tab_main_wallit-sets {
	margin-left:         -2px;
}

.main > .tab-content > .content {
	max-height:       calc(100vh - 167px);
	overflow-y:       auto;
}

.slider {
	display:          none;
}
.slider.active,
.slider.background {
	display:          block;
	height:           100%;
}
.slider.background {
	position:         absolute;
	width:            100%;
	text-align:       center;
}

#tabcontent_main_about {
	position:         relative;
	height:           calc(100vh - 167px);
	overflow:         hidden;
}
#tabcontent_main_about .slider.active {
	position:         relative;
	margin:           13% 35%;
	text-shadow:      1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	text-align:       center;
	color:            #fff;
}
#tabcontent_main_about .slider.active p {
	background:       rgba(255, 255, 255, 0.3);
	padding:          2px;
}
#tabcontent_main_about .slider a {
	text-decoration:  none;
	color:            #fff;
}
#tabcontent_main_about .slider a:hover {
	text-decoration:  underline;
}
#tabcontent_main_about .slider.active table {
	margin-left:      50px;
}
#tabcontent_main_about .slider.active tr {
	background:       rgba(255, 255, 255, 0.3);
	padding:          2px;
}
#tabcontent_main_about .slider.active td {
	padding:          0px 15px;
	margin:           2px;
}
#tabcontent_main_about .slider.active th {
	padding:          0px 15px;
}
#slider_about_background > img {
	height:           calc(100% - 60px);
	width:            auto;
	max-width:        calc(100% - 4px);
}

#div_builddata {
	margin-bottom:    18px;
}
#textarea_builddata {
	box-sizing:       border-box;
	min-height:       100px;
	min-width:        100%;
	max-width:        100%;
}

/* popup elements */

#popup_teamselect,
#popup_main {
	position:         absolute;
	z-index:          100;
	max-height:       90vh;
	margin:           5px;
	padding:          15px;
	overflow-y:       auto;
	background-color: white;
	border:           4px solid Black;
}
#popup_teamselect button {
	margin: 3px;
}

.objectinspector {
	margin:           15px;
}
.objectinspector tr {
	vertical-align:   top;
	margin:           1px;
}
.objectinspector pre {
	display:          inline-block;
	margin:           0px;
}
.objectinspector summary {
	white-space:      nowrap;
	overflow-x:       hidden;
}
.objectinspector .desc-wrapper {
	display:          inline-block;
	white-space:      normal;
	vertical-align:   top;
}
.objectinspector .desc {
	color:            lightgrey;
}