body {
	background: #4a98d3;
}

.header .menu {
	float:right;
}
.header .menu > div:not(.menu) {
	display:    inline-block;
	margin:     20px;
	margin-top: 0px;
}

#input_search {
	display:     block;
}
label[for="select_checkscompendium"] {
	font-size:8pt;
}

#popup_threatlistconfig,
#popup_teamselect,
#popup_main {
	background-color: white;
	border:           4px solid Black;
	position:         absolute;
	padding:          15px;
	margin:           5px;
}

button {
	margin: 3px;
}
input[type=radio],
button,
label {
	cursor: pointer;
}

.team {
	min-width:     220px;
	width:         100%;
	height:        41px;
	display:       block;
}
div.team {
	display:          flex;
	justify-content:  center;
	align-items:      center;
	border:           1px solid black;
	background-color: lightgray;
	color:            gray;
	font-size:        8pt;
	border-radius:    5px;
}

#button_loadteam,
#button_clearteam {
	float:     right;
	font-size: 8px;
}

#div_builddata {
	margin-bottom: 18px;
}
#textarea_builddata {
	box-sizing:  border-box;
	min-height:  100px;
	min-width:   100%;
	max-width:   100%;
}

.objectinspector tr {
	vertical-align: top;
	margin:         1px;
}
.objectinspector pre {
	display:        inline-block;
	margin:         0px;
}