/* Style for tab groups                                                                             */
/* Original Source: http://inspirationalpixels.com/tutorials/creating-tabs-with-html-css-and-jquery */

.tabgroup {
	width:           100%;
	display:         inline-block;
}

.tab-container {
	display:         inline-block;
	margin:          0px;
	padding:         0px 40px;
}
.tab-container:after {
	display:         block;
	clear:           both;
	content:         '';
}
.tab-container li {
	margin:          0px 5px;
	display:         inline-block;
	list-style:      none;
}
.tab-container a {
	padding:         9px 15px;
	display:         inline-block;
	border-radius:   3px 3px 0px 0px;
	background:      #7FB5DA;
	font-size:       16px;
	font-weight:     600;
	color:           #4c4c4c;
	transition:      all linear 0.15s;
	text-decoration: none;
}
.tab-container a:hover {
	background:      #a7cce5;
	text-decoration: none;
}
.tab-container li.active a,
.tab-container li.active a:hover {
	background:      #fff;
	color:           #4c4c4c;
}

.tab-container li.small{
	vertical-align:   bottom;
}
.tab-container li.small a {
	padding:          6px 10px;
	font-size:        12px;
}

.tab-container li.hidden a {
	background:      lightgrey;
}
.tab-container li.hidden a:hover {
	background:      #e6e6e6;
}
.tab-container li.hidden.active a,
.tab-container li.hidden.active a:hover {
	background:      #fff;
	color:           #4c4c4c;
}
.tab-container li.reveal a:after {
	content:         '+'
}
.tab-container.reveal li.reveal a:after {
	content:         '-'
}
.tab-container:not(.reveal) li.hidden:not(.reveal):not(.active) {
	display:         none;
}

.tab-content {
	padding:         15px;
	border-radius:   3px;
	background:      #fff;
	box-shadow:      -1px 1px 1px rgba(0,0,0,0.15);
}
.tab-content >  .content {
	display:         none;
}
.tab-content > .content.active {
	display:         block;
}