textarea {
	min-height:  100px;
	width:       97vw;
}
button {
	margin-bottom: 5px;
}
.footer {
	position: absolute;
	bottom:   0px;
}
.infopopout {
	background-color: white;
	border:           4px solid Black;
	position:         absolute;
	display:          none;
	padding:          15px;
	margin:           5px;
}
.infopopout > .imageWrapper.red {
	border: 1px solid red;
}
.imageWrapper {
	vertical-align: middle;
	display:        inline-block;
	position:       relative;
	cursor:         pointer;
}
#output > .imageWrapper {
	background-color: yellow;
	width:            42px;
	height:           42px;
	margin:           3px;
	border:           2px solid Navy;
}
#output > .imageWrapper > img {
	transform: translate(-50%, -50%);
	position:  absolute;
	left:      50%;
	top:       50%;
}
.iconWrapper {
	position:    absolute;
	bottom:      0px;
	right:       0px;
}
.textWrapper, .ratingWrapper {
	position:         absolute;
	transform:        translate(-50%);
	left:             50%;
	width:            40px;
	text-shadow:      1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	text-align:       center;
	line-height:      90%;
	color:            #fff;
}
.textWrapper {
	font-size: 10pt;
	bottom:    2px;
}
.ratingWrapper {
	font-size: 7pt;
	top:       2px;
}