div.partition-right {
	margin-left: 25%;
}
div.partition-left {
	margin-left: -100%;
	float:       left;
	width:       25%;
}
div.partition-right-container {
	float: left;
	width: 100%;
}

.objectinspector tr {
	vertical-align: top;
	margin:         1px;
}
.objectinspector pre {
	display:        inline-block;
	margin:         0px;
}

textarea {
	min-height:  100px;
	width:       97vw;
}
button {
	margin-bottom: 5px;
}

#div_popup {
	background-color: white;
	border:           4px solid Black;
	position:         absolute;
	display:          none;
	padding:          15px;
	margin:           5px;
}
#button_showobjectinspector ,
#button_showbuilddata ,
#button_hidebuilddata {
	float: right;
}

.imageWrapper {
	vertical-align: middle;
	display:        inline-block;
	position:       relative;
	cursor:         pointer;
}
#div_threatlist > .imageWrapper {
	width:            48px;
	height:           48px;
	margin:           3px;
	border:           2px solid Navy;
}
#div_threatlist > .imageWrapper > img {
	transform: translate(-50%, -50%);
	position:  absolute;
	left:      50%;
	top:       50%;
}
#div_threatlist > .imageWrapper.rating-0                 { background-color: Coral;      }
#div_threatlist > .imageWrapper.rating-50               { background-color: Orange;     }
#div_threatlist > .imageWrapper.rating-5000           { background-color: PowderBlue; }
#div_threatlist > .imageWrapper.rating-250000       { background-color: PaleGreen;  }
#div_threatlist > .imageWrapper.rating-verysmall { background-color: LightGrey;  }

.iconWrapper {
	position:    absolute;
	bottom:      0px;
	right:       0px;
}
.textWrapper, .ratingWrapper {
	position:         absolute;
	transform:        translate(-50%);
	left:             50%;
	width:            40px;
	text-shadow:      1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	text-shadow:      1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	text-align:       center;
	line-height:      90%;
	color:            #fff;
}
.textWrapper {
	font-size: 10pt;
	bottom:    2px;
}
.ratingWrapper {
	font-size: 7pt;
	top:       2px;
}

tr.GSI > .imageWrapper  > .ratingWrapper,
tr.SSI > .imageWrapper  > .ratingWrapper,
tr.NSI > .imageWrapper  > .ratingWrapper {
	color:       lime;
	font-weight: bold;
}
tr.GSIto > .imageWrapper  > .ratingWrapper,
tr.SSIto > .imageWrapper  > .ratingWrapper,
tr.NSIto > .imageWrapper  > .ratingWrapper {
	color:       coral;
	font-weight: bold;
}

tr.GSI > .imageWrapper.onteam,
tr.SSI > .imageWrapper.onteam,
tr.NSI > .imageWrapper.onteam {
	border: 1px solid lime;
}
tr.GSIto > .imageWrapper.onteam,
tr.SSIto > .imageWrapper.onteam,
tr.NSIto > .imageWrapper.onteam {
	border: 1px solid coral;
}